{% extends 'base.html' %}
{% block content %}

<h1 id="homeblock">Sign Up</h1>

<div class= "container">
<form id="signup1" method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <container>
    {{form.as_p}}
  </container>
    <button type="submit" class="btn btn-primary" value="signup">Sign Up!</button>
  
  </form>
</div>

<!-- {{ form.non_field_errors }}
	<table border="1">
	{% for field in form.visible_fields %}
		<tr>
			<th>{{ field.label_tag }}</th>
			<td>
				{{field.errors}}
				{{ field }}
			</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" class="btn-login" value="Sign Up!" id="signUpButton"/>
	{% if error_message %}
		<p class="red-text" style="text-align: center;">{{error_message}} {{ form.errors }}</p>
	{% endif %}

</form> -->

{% endblock %}

