{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 id="homeblock">About Safe</h1>
<hr/>
<p>In these times, everything is always at our fingertips. And while this accessibility to everything and everyone
    benefits us in unimaginable ways, it can also be detrimental. For those with impulse control issues,
    for adolescents and teens with minds that are still developing and for victims of trauma, easy access to 
    certain memories, contact information, images, writings can prove to be complicated/problematic. This app has 
    this in mind. This app can additionally aid those who just wish to be more reflective before accessing 
    emotionally charged media. Using Safe, the user can choose what it is they would like to safeguard. 
    Stow it away. And revisit it for a set amount of time only after successfully completing an emotional 
    evaluation created by mental health professionals. Safe will provide a moment to reflect, a speedbump, 
    before accessing the information. This habitual reflection can act like training wheels for those wishing 
    to be more cogniscent of their patterns. </p>

{% endblock %}