
body {
    background-image: linear-gradient( #91C3D2, rgb(64, 64, 116));
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
   
  }

h1{
  padding: 35px;
  text-align: center;
  color: #dbdbe6;
}

.wellness {
  text-align: center;
  font-size: large;
  padding-bottom: 50px;
}

.wellness-links {
  text-align: center;
  font-size: large;
 padding-bottom: 50px;
}
a{
  color:#EDEDED;
}



#homeblock {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  .blurry {
    z-index: 5;
    background-size: cover;
  }

/* #homeblock {
  
     
    max-width: 12vw;
    border-right: .15em solid #3e5055; 
    white-space: nowrap; 
    margin: 22 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:#3e5055 }
  } */

  

p {
  color: #3D3D40;
}



form {
  text-align: center;
}

#signup1 {
text-align: left;
}

#profileCreateMemory {
background-image: linear-gradient( #91C3D2, rgb(105, 105, 155));
border-color: #3D3D40;
padding: 15;
color: #EDEDED;
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.btn-warning {
  width: 135px;
}
#profileCreateMemory:hover {
  background-color: #3D3D40;
  border-color:  #979797;
  color: #3D3D40;
}



.nav-link {
  color: #91C3D2 !important;
  }



.nav-item1 {
  transition: all 0.3s ease-in-out 0s;
}
.nav-item1:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;

}

.nav-item {
  padding-left: 30px;
  padding-top: 10px;
}



#bignav {
  padding-top: 20;
  background-image: linear-gradient(to left, #3e5055, rgb(58, 58, 65));
  opacity: 0.75;

  }


#bignav:hover {
  opacity: 1.0;
}



main {
  flex: 1 0 auto;
  }
  
footer {
  color: #EDEDED;
  padding-top: 0;
  text-align: right;
  }

.btn-danger {
  background-color: #979797;
  border-color: #f50707;
  border-radius: 50%;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  position: absolute;
  left: 15px;
}



.btn-primary {
  background-color: #979797;
  border-color: #3D3D40;
  border-radius: 50%;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  width:135px;
  position: absolute;
  left: 126px;
}



.btn-primary:hover {
  background-color: #3D3D40;
  border-color:  #979797;

}

#signup1{
  float: left;
}

 #register {
  float:center !important;
  background-color: #979797;
  border-color: #3D3D40;
  border-radius: 50%;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  width:135px;
 
 }



#softblock {

  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px #fff,  
    0 0 100px 60px rgb(72, 83, 206), 
    0 0 140px 90px rgb(82, 129, 171);

  }



.softhome {
text-align: center;

}


.card {
margin: auto;
border-radius: 50%;
background-image: linear-gradient(to left, #94aab1, rgb(102, 146, 175)); 
box-shadow: -10px 0px 44px -7px #000000, 10px 0px 44px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
margin-bottom: 4rem;
padding-left: 20px;
}

.card-text {
  text-align: center;
  color: #EDEDED;
  font-size: .70em;


}

/* #memoryname  */
  /* color: #EDEDED; */
  /* width: 70px;
  overflow: hidden;
  white-space: nowrap; */
  


.container {
  color: #EDEDED !important;
}

.btn-info {
  color: white;
  font-size:1.25em;
  border-radius: 50%;
  background-color: #6382a9;
  border-color: #4e80cd;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  width:222px;
  
 
  
}

.btn-info:hover {
  background-color: #91C3D2
}

.modal-title {
  color:black !important;
}
.modal-body {
  color:black !important;
}

.test-submit {
  text-align: center;

}

.btn-light {
  color: white;
  background-color: #979797;
  border-color: #3D3D40;
  border-radius: 50%;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  width:135px;
  position: absolute;

}

.memoryphoto {
  border-radius: 50%;
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}



.blurry
{
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}




.reveal {
  color: white;
  z-index: 3;
    position: absolute;
    top: 200px;
    left: 500px;
    width: 100%;
    margin: 0 auto;
    width: 300px;
    height: 50px;

}

.timer {
 font-size: 35;
 padding-top: 20px;
 text-align: right;
  
}

footer {
  position: absolute;
  right: 0;bottom:0;left:0;
}
/* .form-check {
  text-align: center !important;
} */


/* spin */
/* {
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
} */