
body {
    background-image: linear-gradient( #91C3D2, rgb(64, 64, 116));
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
   
  }

h1{
  padding: 35px;
  text-align: center;
  color: #dbdbe6;
}


#homeblock {
  
    overflow: hidden; 
    max-width: 12vw;
    border-right: .15em solid #3e5055; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:#3e5055 }
  }

  

p {
  color: #3D3D40;
}

form {
  text-align: center;
}

#signup1 {
text-align: left;
}

#profileCreateMemory {
background-image: linear-gradient( #91C3D2, rgb(105, 105, 155)) !important;
border-color: #3D3D40;
/* margin: 2rem 3rem 5rem 0rem; */
padding: 20;
color: #EDEDED;
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}




.nav-link {
  color: #91C3D2 !important;
  }

.nav-item1 {
  transition: all 0.3s ease-in-out 0s;
}
.nav-item1:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;

}




#bignav {
  padding-top: 16;
  background-image: linear-gradient(to left, #3e5055, rgb(58, 58, 65));
  opacity: 0.75;

  }


#bignav:hover {
  opacity: 1.0;
}


main {
  flex: 1 0 auto;
  }
  
footer {
  color: #EDEDED;
  padding-top: 0;
  text-align: right;
  }

.btn-danger {
  background-color: #979797;
  border-color: #f50707;
  color: #f50707;
  border-radius: 50%;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}



.btn-primary {
  background-color: #979797;
  border-color: #3D3D40;
  border-radius: 50%;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.btn-primary:hover {
  background-color: #3D3D40;
  border-color:  #979797;

}

#softblock {

  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px #fff,  
    0 0 100px 60px rgb(72, 83, 206), 
    0 0 140px 90px rgb(82, 129, 171);

  }



.softhome {
text-align: center;

}


.card {
margin: auto;
background-image: linear-gradient(to left, #94aab1, rgb(102, 146, 175)); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
margin-bottom: 2rem;
}

.card-text {
  text-align: center;
  color: #EDEDED;
  font-size: .70em;

}

#memoryname {
  text-align: center !important;
  color: #EDEDED;
  padding: 100;
}

.container {
  color: #EDEDED !important;
}

.link {
  font-size:1.25em;
}





/* spin */
/* {
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
} */