{% extends 'base.html' %}
{% load static %}
{% block content %}



<script>
$(document).ready(function(){
  $(".blurry").click(function(){
  $(".blurry").hide();
  $(".reveal").hide();
  let time = 10;
  const timer= setInterval(function(){
    time--;
    $(".timer").text(`Minutes: ${time}`);
    if(time === 0){
      window.location.replace("{% url 'home' %}");
    }
  }, 60000);
}
)});
</script>

<!-- <button type="submit" class="btn btn-light" id="reveal">Reveal</button> -->
<h2 class="timer">Minutes: 10 </h2>
{% if memory.img%}
<div class="clearfix-postshow">
  <img class="memoryphoto" src={{memory.img.url}} alt="" > </div>
{%endif%}
<div class="coverimage">
  <h5 class="reveal">Cick to Reveal</h5>
  <img class="blurry" src="{% static 'images/blurry-blue.jpg' %}"> 
</div>

<h1>{{ memory.name }}</h1>
<h5>{{ memory.text}}</h5>
<h5></h5>
<hr>

</div>
{% endblock %}

