
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>How are you feeling today?</h1>

  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Anxious
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault2">
      Worried
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
    <label class="form-check-label" for="flexRadioDefault3">
      Content
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
    <label class="form-check-label" for="flexRadioDefault4">
     Confused
    </label>
  </div>
  <!-- {%if testQs == 'Content'%}  -->
<div>
<script>
  // ($('#lexRadioDefault3').is(':checked'))
  $(document).ready(function(){$('div').css('color', 'red')})
</script>
</div>
<div class="row p-4 d-flex justify-content-center align-items-center">
  <a href="{% url 'test_question2' memory.id %}" class="btn btn-primary">Submit</a>
</div>
<script>
  // else
</script>
  <!-- {%else%} -->
<div class="row p-4 d-flex justify-content-center align-items-center">
  <a href="{% url 'profile'%}" class="btn btn-primary" id="test-submit">Submit</a>
</div>
   {%endif%}
{% endblock %}