{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Question 2</h1>


<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Default radio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault2">
      Default checked radio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
    <label class="form-check-label" for="flexRadioDefault3">
      Default checked radio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
    <label class="form-check-label" for="flexRadioDefault4">
      Default checked radio
    </label>
  </div>

  <a href="{% url 'test_question3' memory.id %}" class="btn btn-primary">Submit</a>

{% endblock %}

