{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 id="homeblock">What feeling do you expect to have after viewing this content?</h1>


<div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Worry
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault2">
      Regret
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
    <label class="form-check-label" for="flexRadioDefault3">
      Neutral 
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
    <label class="form-check-label" for="flexRadioDefault4">
      Confusion
    </label>
  </div>
  <div class="row p-4 d-flex justify-content-center align-items-center">
  <a href="{% url 'memory_show' memory.id %}" class="btn btn-light">Submit</a>
    </div>
{% endblock %}
