
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 id="homeblock">How are you feeling today?</h1>

  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Anxious
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault2">
      Worried
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
    <label class="form-check-label" for="flexRadioDefault3">
      Content
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
    <label class="form-check-label" for="flexRadioDefault4">
     Confused
    </label>
    <script>
      $(document).ready(function(){
          $('input[type="radio"]').click(function(){
              if($("#flexRadioDefault3").prop("checked") == true){
                const oldUrl = $(".btn-light").attr("href"); 
                const newUrl = oldUrl.replace("{% url 'profile' %}","{% url 'test_question2' memory.id %}");
                $(".btn-light").attr("href", newUrl); 
                  console.log("Checkbox is checked.");
              }
              else if ($("#flexRadioDefault3").prop("checked") == false){
                  console.log("Checkbox is unchecked.");
              }
          });
      });
  </script>

  <!-- if document.getElementById("#flexRadioDefault3").checked = true; -->
  </div class="ontonext">
  <div class="row p-4 d-flex justify-content-center align-items-center">
    <a href="{% url 'profile' %}" class="btn btn-light">Submit</a>
  </div>
<!-- <div class="row p-4 d-flex justify-content-center align-items-center">
  <a href="{% url 'profile' %}" class="btn btn-light">Submit</a>
</div> -->



{% endblock %}
