{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 id="homeblock">In the last 7 days have you had difficulty sleeping or eating?</h1>


<div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
     Not Really
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input1" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault2">
      Not at all
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
    <label class="form-check-label" for="flexRadioDefault3">
     A little
    </label>
  </div>
  <div class="form-check d-flex justify-content-center">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
    <label class="form-check-label" for="flexRadioDefault4">
      Yes
    </label>
  </div>
  <div class="row p-4 d-flex justify-content-center align-items-center">
  <a href="{% url 'test_question3' memory.id %}" class="btn btn-light">Submit</a>
  </div>
{% endblock %}

